body {
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  background-position: center;
}
h1 {
  font-size: 60px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(0, 52, 89) 0%,
    rgb(0, 168, 232) 90%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
footer {
	text-align: center;
	margin-top: 450px;
}
footer, footer a  {
	color: #006696;
	font-weight: bold;
	font-size: 15px;
}


.header,
.container {
  display: flex;
  justify-content: center;
}
.inputField {
  padding: 10px;
  width: 40%;
  border: none;
  border-radius: 5px;
}
.btn {
  padding: 20px;
  border: none;
  background: #006696;
  border-radius: 5px;
}
.toDoAdded {
  background: #00a8e8;
  list-style: none;
  height: 50px;
  width: 50%;
  text-align: center;
  color: #fff;
  font-size: 20px;
  border-bottom: 1px solid #d8d0ac;
  border-radius: 5px;
}
.toDoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.toDoCompleted {
  text-decoration: line-through;
  color: black;
  background: #4d504c;
  transition: all 600ms ease-in-out;
  font-weight: bold;
}
@media all and (max-width:800px) {
	h1 {
		font-size: 40px;
	}
}
@media all and (max-width:500px) {
	h1 {
		font-size: 30px;
	}
}
